<div class="container">
  <div class="product-container">
    <h2 class="control-group">Sign up</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>
      <div class="field control-group">
        <%= f.label :password, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="field control-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <div><%= f.submit "Sign up", class: "btn btn-primary control-label"  %></div>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>