<div class="container">
  <div class="product-container">
    <h2 class="control-group">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>
      <br>
      <div><%= f.submit "Send me reset password instructions", class: "btn btn-primary control-label" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>