<%
   counter = 0
   @user_requests.each_with_index do |request, index|
     counter = request.id if index == 0
%>
  <tr>
    <td><%= request.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
    <td><%= request.remote_ip %></td>
    <td><%= request.request_method %></td>
    <td><%= link_to 'view details', display_request_path(trap_id: get_user_slug(request), id: request.id) %></td>
  </tr>
<% end %>
<%= javascript_tag do %>
  window.max = '<%= raw @max %>';
<% end %>
<div id="next_max" style="display: none;"><%= @max %></div>