<h1>User Dashboard</h1>
<h2>Instructions</h2>
<p>
  Use the following URL for external WebService utilization.<br/>
  <%= link_to "http://requests-trap-app.herokuapp.com/#{current_user.slug}" %>
</p>
<h2>
  Request Listing
</h2>
<div>
  <%= link_to 'Show Request Listing', display_requests_listing_path(trap_id: current_user.slug) %>
</div>
