<h3 xmlns="http://www.w3.org/1999/html">Requests Listing</h3>
<table class="table table-bordered" cellspacing="0" width="100%" id="requests_listing">
  <thead>
  <tr>
    <th>Request Date</th>
    <th>Remote IP</th>
    <th>Request Method</th>
    <th>Action</th>
  </tr>
  </thead>
  </tbody>

  <% @users_requests.each do |request| %>
    <tr>
      <td><%= request.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      <td><%= request.remote_ip %></td>
      <td><%= request.request_method %></td>
      <td><%= link_to 'view details', display_request_path(id: request.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div style="display: none;" id="max_request_id"><%= get_max_request(@users_requests) %></div>