<h3>Displaying Request (Trap-ID: <%= current_user.slug %>)</h3>
<table class="table table-striped">
  <tbody>
  <tr><td>Request Date:</td><td><%= @request.created_at.strftime("%m/%d/%Y %I:%M%p") %></td></tr>
  <tr><td>Remote IP:</td><td><%= @request.remote_ip %></td></tr>
  <tr><td>Request Method:</td><td><%= @request.request_method %></td></tr>
  <tr><td>Scheme:</td><td><%= @request.scheme %></td></tr>
  <tr><td>Query String:</td><td><%= @request.query_string %></td></tr>
  <tr><td>Query Parameters:</td><td><%= @request.query_params %></td></tr>
  <tr><td>Cookies:</td><td><%= @request.cookies.as_json %></td></tr>
  <tr><td>Headers:</td><td><%= @request.headers %></td></tr>
  <tr><td><%= link_to 'Back', display_requests_listing_path %></td><td></td></tr>
  </tr>
  </tbody>
</table>