<div class="container">
  <div class="product-container">
    <h2 class="control-group">Sign in</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="field control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>
      <div class="field control-group">
        <%= f.label :password, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, class: "check-box" %><%= f.label :remember_me, class: "remember-me" %>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <div><%= f.submit "Sign in", class: "btn btn-primary control-label"  %></div>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>